<h1>Stupid Coaching</h1>
<p class="question"><%= @question %><br /><em>-You</em></p>
<p class="answer"><strong><%= @answer %></strong><br /><em>-Your coach</em></p>

<%= link_to "Ask a new question", ask_path %>
